@font-face {
  font-weight: 400;
  font-family: Lato;
  font-style: normal;
  src: url("../fonts/lato-regular.woff2") format("woff2");
  src: url("../fonts/lato-regular.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Verdana, Tahoma, sans-serif;
  color: black;
  font-style: normal;
  font-size: 1em;
  line-height: 1.2;
  font-weight: normal;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1.2rem;
}

.head {
  padding: .5rem 0;
  border-bottom: 0.1rem solid #C0C0C0;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}